
<script type="text/javascript">
    // http://www.trirand.com/jqgridwiki/doku.php?id=wiki:jqgriddocs
    $(document).ready(function () {

        // Set up the jquery grid
        $("#defectsTable").jqGrid({
            // Ajax related configurations
            caption: "Production Defects",
            url: "@Url.Action("Data", "Defects")",
            datatype: "json",
            mtype: "POST",
            hidegrid: false,

            editurl: "@Url.Action("Edit", "Defects")",

            // Specify the column names
            colNames: ["Guid", "Reason", "Identifier", "Decision"],

            // Configure the columns
            colModel:
            [
            {
                name: "Guid",
                index: "Guid",
                hidden: true,
                editable: true
            },
            {
                name: "Reason",
                index: "Reason",
                align: "left",
                editable: true
            },
            {
                name: "Identifier",
                index: "Identifier",
                align: "left",
                editable: true
            },
            {
                name: "Decision",
                index: "Decision",
                align: "left",
                editable: true,
                edittype: "select",
                editoptions: { value: "Rework:Rework;Reject:Reject" }
            }
            ],

            // Grid total width and height
            width: 1500,
            height: 'auto',

            // Paging
            toppager: false,
            pager: $("#defectsTablePager"),
            rowNum: 10,
            rowList: [5, 10, 15, 25],
            viewrecords: true, // Specify if "total number of records" is displayed

            // Default sorting
            sortname: "Reason",
            sortorder: "asc"

        }).navGrid("#defectsTablePager",
            { refresh: true, add: true, edit: true, del: false },
                {
                    closeAfterEdit: true,
                    viewPagerButtons: false
                }, // settings for edit
                {
                    closeAfterAdd: true,
                    url: "@Url.Action("Add", "Defects")"
                }, // settings for add
                {}, // settings for delete
                { sopt: ["cn"] } // Search options. Some options can be set on column level
        );
        
        $("#defectsTable").jqGrid("setGridWidth", $("#gridWrapper").width(), true);
    });
</script>

<div id="gridWrapper">
    <table id="defectsTable" class="scroll"></table>
    <div id="defectsTablePager"></div>
</div>
