<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="QueueName" value=".\private$\yoyo"/>
  </appSettings>
  <connectionStrings>
    <add name="Prestige" connectionString="data source=.;Integrated Security=SSPI;Initial Catalog=Prestige" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>