@model IEnumerable<Prestige.DB.Models.Product>
    
<script type="text/javascript">
    $(function () {
        $("button").button().click(function () {
            var day = $("#day option:selected").text();
            var start = $("#start option:selected").text();
            var finish = $("#finish option:selected").text();
            var product = $("#product option:selected").text();
            var msg = "Schedule " + product + "<br />from " + start + " to " + finish + " on " + day + "?";
            $("#dialog-message").html(msg);
            $("#dialog-confirm").dialog({
                resizable: false,
                height: 160,
                width:350,
                modal: true,
                buttons: {
                    Schedule: function () {
                        $("#scheduleForm").submit();
                    },
                    Cancel: function () {
                        $(this).dialog("close");
                    }
                }
            });
        });
    });
</script>
           
@using (Html.BeginForm("Edit", "Schedule", FormMethod.Post, new Dictionary<string, object>() { { "id", "scheduleForm" } }))
{
<div style="border:2px solid black;text-align:center;">
    <div style="display:inline-block;">
        <span class="dropdown-text">Day:</span>
        <select id="day" name="day" class="dropdown" style="width:120px;">
            <option value="SUNDAY">Sunday</option>
            <option value="MONDAY" selected="selected">Monday</option>
            <option value="TUESDAY">Tuesday</option>
            <option value="WEDNESDAY">Wednesday</option>
            <option value="THURSDAY">Thursday</option>
            <option value="FRIDAY">Friday</option>
            <option value="SATURDAY">Saturday</option>
        </select>
    </div>
    <div style="display:inline-block;">
        <span class="dropdown-text">Start:</span>
        <select id="start" name="start" class="dropdown" style="width:80px;">
            <option value="0">00:00</option>
            <option value="1">01:00</option>
            <option value="2">02:00</option>
            <option value="3">03:00</option>
            <option value="4">04:00</option>
            <option value="5">05:00</option>
            <option value="6">06:00</option>
            <option value="7">07:00</option>
            <option value="8">08:00</option>
            <option value="9">09:00</option>
            <option value="10">10:00</option>
            <option value="11">11:00</option>
            <option value="12">12:00</option>
            <option value="13">13:00</option>
            <option value="14">14:00</option>
            <option value="15">15:00</option>
            <option value="16">16:00</option>
            <option value="17">17:00</option>
            <option value="18">18:00</option>
            <option value="19">19:00</option>
            <option value="20">20:00</option>
            <option value="21">21:00</option>
            <option value="22">22:00</option>
            <option value="23">23:00</option>
        </select>
    </div>
    <div style="display:inline-block;">
        <span class="dropdown-text">Finish:</span>
        <select id="finish" name="finish" class="dropdown" style="width:80px;">
            <option value="1">01:00</option>
            <option value="2">02:00</option>
            <option value="3">03:00</option>
            <option value="4">04:00</option>
            <option value="5">05:00</option>
            <option value="6">06:00</option>
            <option value="7">07:00</option>
            <option value="8">08:00</option>
            <option value="9">09:00</option>
            <option value="10">10:00</option>
            <option value="11">11:00</option>
            <option value="12">12:00</option>
            <option value="13">13:00</option>
            <option value="14">14:00</option>
            <option value="15">15:00</option>
            <option value="16">16:00</option>
            <option value="17">17:00</option>
            <option value="18">18:00</option>
            <option value="19">19:00</option>
            <option value="20">20:00</option>
            <option value="21">21:00</option>
            <option value="22">22:00</option>
            <option value="23">23:00</option>
            <option value="24">24:00</option>
        </select>
    </div>
    <div style="display:inline-block;">
        <span class="dropdown-text">Product:</span>
        <select id="product" name="product" class="dropdown" style="width:250px;">
            <option value=""><i>[None]</i></option>
        @foreach (var product in Model)
        {
            <option class="c@(product.Id.ToString())" value="@product.Id.ToString()">@string.Format("{0} ({1})", product.Description, product.SKU)</option>
        }
        </select>
    </div>
    <button style="width:140px;margin-left:30px;" type="button">Schedule</button>
</div>
}

<div id="dialog-confirm" title="Confirm Schedule Change">
    <span id="dialog-message"></span>
</div>