@{
    ViewBag.Title = "User Administration";
}

<style type="text/css">
    .ui-jqdialog-titlebar,
    .ui-jqgrid-titlebar
    {
        height: 15px;
    }    
    #toolbar {
        padding: 5px;
        margin-bottom:10px;
    }
</style>

<script type="text/javascript">
    var gridObject;
    $(function () {
        $("#rolesBtn")
            .click(function () {
                $("#container").load("@Url.Action("RolesGrid", "Admin")");
            });
        $("#passwordsBtn")
            .click(function () {
                $("#container").load("@Url.Action("PasswordGrid", "Admin")");
            });
            
        $("#btn").buttonset();
        
        $(window).resize(function () {
            if (gridObject) {
                gridObject.jqGrid("setGridWidth", $("#gridWrapper").width(), true);
            }
        });
    });
</script>

<span id="toolbar" class="ui-widget-header ui-corner-all" style="display:inline-block;">
    <span id="btn">
        <input type="radio" id="rolesBtn" name="btn" checked="checked" /><label for="rolesBtn">Roles</label>
        <input type="radio" id="passwordsBtn" name="btn" /><label for="passwordsBtn">Passwords</label>
    </span>
</span>

<div id="container">
    @Html.Action("RolesGrid", "Admin")
</div>