
<script type="text/javascript">
    // http://www.trirand.com/jqgridwiki/doku.php?id=wiki:jqgriddocs
    $(document).ready(function () {

        // Set up the jquery grid
        $("#rolesTable").jqGrid({
            // Ajax related configurations
            caption: "User Roles",
            url: "@Url.Action("Data", "Admin")",
            datatype: "json",
            mtype: "POST",
            hidegrid: false,

            editurl: "@Url.Action("Edit", "Admin")",

            // Specify the column names
            colNames: ["Guid", "User Name", "Password", "Role"],

            // Configure the columns
            colModel:
            [
            {
                name: "Guid",
                index: "Guid",
                hidden: true,
                editable: true
            },
            {
                name: "UserName",
                index: "UserName",
                align: "left",
                required: true,
                editable: true,
                editrules: { required: true }
            },
            {
                name: "Password",
                index: "Password",
                edittype: "password",
                edithidden: true,
                hidden: true,
                required: true,
                editable: true,
                editrules: { required: true }
            },
            {
                name: "Role",
                index: "Role",
                align: "left",
                editable: true,
                edittype: "select",
                editoptions: { value: "User:User;Administrator:Administrator" },
                editrules: { required: true }
            }
            ],

            // Grid total width and height
            width: 1500,
            height: 'auto',

            // Paging
            toppager: false,
            pager: $("#rolesTablePager"),
            rowNum: 10,
            rowList: [5, 10, 15, 25],
            viewrecords: true, // Specify if "total number of records" is displayed

            // Default sorting
            sortname: "UserName",
            sortorder: "asc"

        }).navGrid("#rolesTablePager",
            { refresh: true, add: true, edit: true, del: true },
                {
                    recreateForm: true,
                    closeAfterEdit: true,
                    viewPagerButtons: false,
                    afterShowForm: function(formid) {
                        $("#tr_Password").hide();
                        $("#Password").val("password");
                        $("#UserName").attr("readonly", "readonly");
                        $("#Role").focus();
                    }
                }, // settings for edit
                {
                    recreateForm: true,
                    closeAfterAdd: true,
                    url: "@Url.Action("Add", "Admin")",
                    afterShowForm: function(formid) {
                        $("#tr_Password").show();
                    }
                }, // settings for add
                {
                    url: "@Url.Action("Delete", "Admin")",
                    onclickSubmit: function (opts, rowid) {
                        var rowdata = $("#rolesTable").getRowData(rowid);
                        return { guid: rowdata.Guid }
                    }
                }, // settings for delete
                { sopt: ["cn"] } // Search options. Some options can be set on column level
        );

        $("#rolesTable").jqGrid("setGridWidth", $("#gridWrapper").width(), true);
        gridObject = $("#rolesTable");
    });
</script>

<div id="gridWrapper">
    <table id="rolesTable" class="scroll"></table>
    <div id="rolesTablePager"></div>
</div>
