@model Prestige.Web.ViewModels.LoginViewModel
@{
    ViewBag.Title = "LogOn";
    var remember = Model.RememberMe ? "checked='checked'" : "";
}

<script type="text/javascript">
    $(function () {
        $("button").button();
    });
</script>

<h2>Log On</h2>
@using (Html.BeginForm())
{
<div style="border:2px solid black;padding:5px 5px 5px 5px;display:inline-block;">
    <div style="margin:5px 5px 5px 5px;">
        <span style="width:100px;display:inline-block;">Username:</span>
        <input type="text" value="@Model.UserName" name="username" />
    </div>

    <div style="margin:5px 5px 5px 5px;">
        <span style="width:100px;display:inline-block;">Password:</span>
        <input type="password" name="password" />
    </div>

    <div style="margin:5px 5px 5px 5px;">
        <span style="width:100px;display:inline-block;"></span>
        <input type="checkbox" name="remember" @remember /><span>Remember Me</span>
    </div>
    <button style='margin-right:20px;'>Log On</button>
    <span style='color:#f00;'>@Model.Error</span>
</div>
}