@model Prestige.ViewModels.ProductListModel


    <tr>
        <td>@Html.DisplayFor(model => model.SKU)</td>
        <td>@Html.DisplayFor(model => model.Description)</td>
        <td>@Html.DisplayFor(model => model.Colour)</td>
    </tr>